@tailwind base;
@tailwind components;
@tailwind utilities;


*, :after, :before {
    box-sizing: border-box;
}


body {
    font-family: Inter, sans-serif;
    font-size: 16px;
    background-color: #367C96;
    color: #005875;
}
.form-all {
  margin: 0 auto;
}
.button-hover{box-shadow: 0 0 0 2px hsl(from #005875 h s l/50%);
}
.formFooter {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";}